/*блок с карточками второй секции*/
.cards {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: flex-start; /*разместить вложенные блоки от левого края до правого прижимая каждый правый блок к левому*/
  align-items: stretch; /*расятнуть блоки по высоте контейнера*/
  flex-wrap: wrap;
  width: 920px; /*ширина флекс контейнера*/
  z-index: 2;
}
