/*Селектор первого блока section*/
.description {
  margin: 0;
  padding: 0;
  display: flex;  /*создал флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: center; /*выставил блоки внутри флекс контейнера вдоль строки по центру*/
  align-items: stretch; /*Элементы внутри флекс контейнера растянутся от верха до низа в ряд вдоль оси по верху флекс контейнера*/
  background-color: #fff; /*цвет фона - белый*/
}
