/*Секция - блок "Полезные ресурсы"*/
/*Контейнер для блоков секции "Полезные ресурсы"*/
.resources {
  margin: 0; /*обнуляем внешние отсупы*/
  padding: 100px 0 217px 0; /*внутрений отступ: top right bottom left*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*блоки разместить в колонку вдоль вертикали сверху вниз*/
  justify-content: flex-start; /*колонку блоков прижать к верхней нранице флекс контейнера*/
  align-items: center; /*выровнять колонку блоков по центру вдоль горизонтальной линии*/
  background-color: #fff; /*цвет фона - белый*/
}
