
.khan__quote {
  margin: 0;
  padding: 0;
  width: 790px;
  margin: 50px 0 36px 0;
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по по левому краю*/
}
