/*Модификатор размеров блока logo для подвала страницы*/
.logo_place_footer {
  padding: 0; /*обнулил внутрение отступы*/
  margin: 0; /*обнулил внешние отступы*/
  width: 183px; /*Ширина блока logo*/
  height: 35px; /*Высота блока logo*/
}
