/*Модификатор размеров блока logo для подвала страницы*/
.logo_place_footer {
  width: 183px; /*Ширина блока logo*/
  height: 35px; /*Высота блока logo*/
  padding-left: 0; /*отступ сверху 0*/
  padding-top: 0; /*отступ слева 0*/
}
