/*Блок - контейнер для вставки двух элементов iframe слева на право по горизонтали
  левый iframe прижат к левому краю, правый iframe прижат к правому краю*/
.video__iframes {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0; /*обнулить внутренние отступы*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: flex-start; /*прижать дочерние блоки к левому краю контейнера*/
  align-items: stretch; /*растянуть блоки по высоте контейнера*/
  flex-wrap: wrap; /*вывести flex-элементы в несколько линий так, чтобы флекс контейнер не переполнялся по ширине*/
  margin: auto;
  margin-top: 50px;
  position: absolute;
  top: 214px;
  /*z-index: 2; позиция блока по оси z равна 2*/
}
