/*Селектор для второй секции - Цифры*/
.digits {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*блоки разместить в колонку вдоль вертикали сверху вниз*/
  justify-content: flex-start; /*колонку блоков прижать к верхней нранице флекс контейнера*/
  align-items: center; /*выровнять колонку блоков по центру вдоль горизонтальной линии*/
  background-color: #fff; /*цвет фона - белый*/
}
