/*текст карточки второй секции*/
.cards__description {
  margin: 0;
  padding: 0;
  line-height: 1.2; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по левому краю*/
  padding-top: 16px; /*отступ от верхней границы элемента*/
}
