/*текст карточки второй секции*/
.cards__description {
  margin: 0;
  padding: 16px 0 0 0; /*отступ от верхней границы элемента*/
  line-height: 23px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по левому краю*/

}
