/*Заголовок секции*/
.feynman__title {
  margin: 0; /*Обнулил внешние отступы*/
  padding: 0; /*убрал внутрений отступ 100px от верхней границы*/
  width: 648px; /*высота блока заголовка*/
  line-height: 1.15; /*Высота строки*/
  font-size: 120px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по центру*/
}
