/*Селектор заголовка второй секции - Цифры*/
.section-title {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина блока 60% от ширины флекс контейнера*/
  /*padding-top: 100px; внутрений отступ от верхнего края флекс контейнера*/
  line-height: 1.15; /*Высота строки*/
  font-size: 60px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}
