/*подзаголовок второй секции*/
.section-subtitle {
  margin: 0; /*обнулить внешние отступы*/
  padding: 20px 0 0 0; /*внутрений отступ сверху 20px*/
  width: 60%; /*ширина блока 60% от ширины флекс контейнера*/
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}
