/*подзаголовок второй секции*/
.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина блока 60% от ширины флекс контейнера*/
  padding-top: 20px; /*внутрений отступ от верхнего края флекс контейнера*/
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}
