/*Блок флекс контейнер для блоков с колонками*/
.footer__columns {
  margin: 0;
  padding: 0;
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: row; /*расположить вложенные блоки в колонку по вериткали сверху вниз*/
  justify-content: space-between; /*левый блок прижать к левому краю флекс контейнера, правый блок прижать к правому краю флекс контейнера*/
  align-items: flex-start; /*прижать строку с блоками к верхнему краю флекс контейнера*/
  width: 90%; /*ширина блока 90% от ширины флекс контейнера*/
  padding-top: 60px; /*внутрений отступ сверху 60px*/
  padding-bottom: 40px; /*внутрений нижний отступ снизу 40px*/
}
