/*Секция - блок "Видео на TED". Контейнер для всех остальных блоков секции*/
.video {
  margin: 0 auto 310px auto; /*внешний отступ снизу 310 px, выронять блок по центру по горизонтали*/
  padding: 100px 0 0 0; /*внутрений верхний отступ 100px*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*блоки разместить в колонку вдоль вертикали сверху вниз*/
  justify-content: flex-start; /*колонку блоков прижать к верхней нранице флекс контейнера*/
  align-items: center; /*выровнять колонку блоков по центру вдоль горизонтальной линии*/
  background-color: #fff; /*цвет фона - белый*/
  /*Задание: Блок video__iframe с видео должен быть поверх секций video и */
  position: relative; /*Включить относительное позиционирование. Сделать вложенные блоки - дочерними.
  Делаю это для блока video_iframe, чтобы установить ему параметр z-index: 1;
  так как без установленного параметра position, z-index не работает*/
}
