/*Модификатор для иконки соцсети в подвале*/
.footer__social-icon {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0 10px 0 0; /*внутрений отступ справа 10px*/
  width: 16px; /*ширина*/
  height: 16px; /*высота*/
}
