/*Шапка html страницы*/
.header {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0; /*обнулить внутрение оступы*/
  display: flex; /*Определил блок header как флекс контейнер*/
  flex-direction: column; /*выстроить блоки в колонку по вертикали сверху вниз*/
  justify-content: center; /*выровнять колонку по центру вдоль вертикальной оси*/
  align-items: flex-start; /*прижать колонку к левому краю*/
  height: 100vh; /*высота равна высоте окна браузера*/
  min-height: 600px; /*минимальная высота*/
  max-height: 756px; /*максимальная высота*/
  background-color: #f2f2f2; /*цвет фона - серый*/
  position: relative; /*Блок header - родительский блок для блока logo*/
  overflow: hidden; /*скрывать содержимое дочерних блоков, выходящее за границы родительского блока. Чтобы синий квадрат при вращении не выходил за края блока header*/
}
