/*Селектор блока "Техники обучения"*/
.techniques {
  margin: 0 auto 0 auto; /*все внешние отступы сверху и снизу = 0, выровнять блок по центру по горизонтали*/
  padding: 100px 0 0 0; /*внутрений отступ сверху 100px*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*блоки разместить в колонку вдоль вертикали сверху вниз*/
  justify-content: flex-start; /*колонку блоков прижать к верхней нранице флекс контейнера*/
  align-items: center; /*выровнять колонку блоков по центру вдоль горизонтальной линии*/
  background-color: #fff; /*цвет фона - белый*/
  width: 80%; /*ширина блока 80%*/
}
