/*Секция метод Кауфмана*/
.kaufman {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0; /*обнулить внутренние отступы*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*задал направление внутри флекс контейнера в ряд сверху вниз*/
  justify-content: flex-start; /*блок выровнен по центру флекс контейнера по горизонтали и прижат к верху флекс контейнера*/
  align-items: center; /*выровнять элементы по центральной вертикальной линии флекс контейнера*/
  overflow: hidden; /*чтобы треугольник не выходил за границу блока*/
  background-color:  #1f1f1f; /*цвет фона - черный*/
  position: relative; /*Позиционирование: relative - блок является родителем для вложенных блоков*/
}
