
.video__iframe {
  margin: 0;
  padding: 0;
  width: 515px;
  height: 316px;
  margin-right: 20px;
  z-index: 1; /*Задание: Блок iframe с видео должен быть поверх двух секций*/
  /*Так как по умолчанию в блоке video всем блокам присвоен z-index: 0 - ставлю для блока video__iframe значение  z-index: 1
  благодаря чему он будет выше остальных блоков в контейнере по оси z*/
}

.video__iframe:nth-of-type(2n) { /*у каждого второго блока убрать внешний отступ справа*/
  margin-right: 0;
}
