
.video__iframe {
  margin: 0 20px 0 0; /*внешний отступ справа 20px*/
  padding: 0; /*обнулить внутрение отступы*/
  width: 515px; /*ширина блока*/
  height: 316px; /*высота блока*/
  border: 0; /*убрать границу iframe так, чтобы валидатор css не ругался (iframeborder в HTML5 запрещен к использованию)*/
  z-index: 1; /*Задание: Блок iframe с видео должен быть поверх двух секций*/
  /*Так как по умолчанию в блоке video всем блокам присвоен z-index: 0 - ставлю для блока video__iframe значение  z-index: 1
  благодаря чему он будет выше остальных блоков в контейнере по оси z*/
}

/*у каждого второго блока убрать внешний отступ справа*/
.video__iframe:nth-of-type(2n) {
  margin-right: 0;
}
