/*Селектор блока с логотипом Яндекс Практикум*/
.logo {
  margin: 0;
  padding: 0;
  width: 183px; /*Ширина блока logo*/
  height: 32px; /*Высота блока logo*/
  z-index: 4; /*Блок logo должен быть поверх всех блоков*/
}
