/*Подзаголовок секции*/
.feynman__subtitle {
  margin: 0; /*обнулить внешние отступы*/
  padding: 70px 0 0 0; /*отступ от верхней границы флекс контейнера*/
  line-height: 51px; /*Высота строки*/
  font-size: 36px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
}
