/*заголовок карточки */
.cards__title {
  margin: 0;
  padding: 0;
  line-height: 1.15; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по по левому краю*/
}
