/*Селектор блока правой колонки с основным текстом*/
.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%; /*ширина блока 80% от ширины флекс контейнера*/
  min-width: 784px; /*минимальная ширина блока*/

}
