/*Блок header "Научиться учиться"*/
/*Параметры для вращения синего квадрата справа вверху*/
/*Фигура синего квадрата поворачивается на 360 гадусов за 20 секунд и двигается бесконечно*/
@keyframes rotation {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

/*микс модификатор для включения анимации в блоке*/
/*подключает кейфреим rotation к тому блоку, где добавлен в class=""*/
/*кейфреим rotation осуществляет равномерное бесконечное вращение блока с угловой скоростью 360 градусов за 20 секунд*/
.rotation {
  animation: rotation 20s linear infinite;
  /*включить анимацию кейфрема rotation: равномерное бесконечное вращение с угловой скоростью 360 градусов за 20 секунд*/
}
