/*Столбец блока footer*/
.footer__column {
  margin: 0; /*обнулить внешние отступы*/
  padding: 0; /*обнулить внутренние отступы*/
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: column; /*расставить блоки по вертикали*/
  justify-content: space-between; /*первый блок прижать к верхнему краю флекс контейнера, воторой блок - к нижнему краю флекс контейнера*/
  align-items: flex-start; /*прижать вертикальную колонку блоков к левому краю флекс контейнера*/
  min-height: 250px; /*минимальная высота флекс контейнера*/
}
