/*Секция - блок "История Барбары Оаклей*/
.oakley {
  margin: 0; /*обнулить внешние отступы*/
  padding: 60px 0 0 0; /*внутрений отступ сверху 60px*/
  display: flex;  /*создал флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: center; /*выставил блоки внутри флекс контейнера вдоль строки по центру*/
  align-items: stretch; /*элементы внутри флекс контейнера растянутся от верха до низа в ряд вдоль оси по верху флекс контейнера*/
  background-color: #f2f2f2; /*цвет фона - белый*/
}
