/*блок список в подвале*/
.footer__ul {
  margin: 0; /*обнулить внешние оступы*/
  padding: 20px 0 16px 0; /*внутрений отступ сверху 20px - снизу 16px*/
  list-style: none; /*убрать левые маркеры списка*/
}
