/*блок список в подвале*/
.footer__ul {
  margin: 0;
  padding: 0;
  padding-top: 20px; /*внутренний отступ от верхней границы*/
  padding-bottom: 16px; /*внутрений отступ от нижней границы*/
  list-style: none; /*убрать левые маркеры списка*/
}
