/*блок с карточками второй секции*/
.table {
  margin: 0;
  padding: 0; /*внутрений отступ сверху 100px*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 1100px; /*ширина флекс контейнера*/
  z-index: 2;
}
