/*Секция - блок "Полезные ресурсы"*/
/*Контейнер для блоков с логотипами*/
.resources__logo-zone {
  margin: 0; /*обнуляем внешние отсупы*/
  padding: 100px 0 0 0; /*внутрений отступ: top right bottom left*/
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: row; /*блоки разместить в ряд слева направо*/
  justify-content: center; /*ряд с блоками прижать к верхней нранице флекс контейнера и выровнять по центру по горизонтали*/
  align-items: center; /*ряд с блоками разместить по центру по вертикали*/
  width: 1100px; /*ширина блока*/
  background-color: #fff; /*цвет фона - белый*/
}
