/*Подзаголовок шапки html страницы*/
.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  width: 388px; /*Ширина блока*/
  left: 64px; /*отступ слева от header 64px*/
  bottom: 30px; /*отступ снизу от header 30px*/
  line-height: 25px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  z-index: 4; /*Блок должен быть поверх всех блоков*/
}
