/*Селектор блока с двумя колонками внутри секции*/
.two-columns {
  margin: 0;
  padding: 100px 0 0 0; /*внутрений отступ сверху 100px*/
  display: flex; /*создал флекс контейнер*/
  width: 80%; /*Ширина 80% от ширины флекс контейнера*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between; /*Первый блок прижат к левому краю флекс контейнера, а второй блок - к правому краю*/
  align-items: flex-start; /*Все блоки прижаты к верхнему краю флекс контенера*/
}


