/*Селектор блока с двумя колонками внутри секции*/
.two-columns {
  margin: 0;
  padding: 0;
  display: flex; /*создал флекс контейнер*/
  padding-top: 100px; /*Отсуп от верхнего края флекс контейнера*/
  padding-bottom: 100px; /*Отсуп от нижнего края флекс контейнера*/
  width: 80%; /*Ширина 80% от ширины флекс контейнера*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between; /*Первый блок прижат к левому краю флекс контейнера, а второй блок - к правому краю*/
  align-items: flex-start; /*Все блоки прижаты к верхнему краю флекс контенера*/
}


