/*текст карточки второй секции*/
.cards__image {
  margin: 0; /*обнулить все внешние отступы*/
  padding: 0; /*обнулить все внутренние отступы*/
  width: 160px; /*ширина блока равна 160px*/
  height: 160px; /*высота блока равна 160px*/
  margin-left: 40px; /*внешний отступ от левой границы элемента*/
  margin-right: 40px; /*внешний отступ от правой границы элемента*/
  margin-bottom: 43px; /*внешний отступ снизу равен 43px*/
  border-radius: 50%; /*радиус границы блока - 50% рисуем круг вместо квадрата*/
  overflow: hidden; /*скрыть содержимое выступающее за края родителя: вписываем прямоугольное изображение в круг*/
}
