/*текст карточки второй секции*/
.cards__image {
  margin: 0 40px 43px 40px; /*top right bottom left*/
  padding: 0; /*обнулить все внутренние отступы*/
  width: 160px; /*ширина блока равна 160px*/
  height: 160px; /*высота блока равна 160px*/
  border-radius: 50%; /*радиус границы блока - 50% рисуем круг вместо квадрата*/
  overflow: hidden; /*скрыть содержимое выступающее за края родителя: вписываем прямоугольное изображение в круг*/
}
