/*Блок - изображение синего треуголника*/
/*PS: При использовании блока обратить внимание на путь к файлу kaufman-triangle.svg в параметре background-image*/
.kaufman__triangle {
  margin: 0;
  padding: 0;
  position: absolute; /*задал абсолютное позиционирование - вырвал блок из html потока*/
  width: 877px; /*ширина*/
  height: 877px; /*высота*/
  background-size: cover; /*Чтобы треугольник не выходил за пределы page, а "обрезался" границей блока page*/
  background-image: url(../../../images/kaufman-triangle.svg); /*фон блока - синий треуголник*/
  top: 0; /*Отступ сверху равен 0*/
  right: -210px; /*сместил блок с треугольником за правую границу блока на 210 пикселей*/
  z-index: 1; /*блок kaufman__triangle - выше блока kaufman, но ниже всех остальных блоков в секции*/
}
