/*Модификатор для текста в заголовке колонки подвала html страницы*/
.footer__column-heading {
  line-height: 30px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: left; /*выравнивание текста по правому краю*/
  color: #fff; /*цвет текста - белый*/
}
