
.khan__container {
  margin: 0 auto 0 auto; /*обнулил внешние отступы, выровнять по центру по горизонтали*/
  padding: 105px 0 0 0; /*внутрений отступ сверху 105px*/
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: column; /*блоки размещаются друг за другом сверху вниз*/
  justify-content: flex-start; /*прижать столбец с блоками к верхнему краю*/
  align-items: flex-start; /*прижать столбец с блоками к левому краю*/
  width: 80%; /*ширина блока 80% от ширины родительского блока*/
}
