/*Блок - подвал html страницы*/
.footer {
  margin: 0;
  padding: 0;
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: row; /*расположить вложенные блоки в колонку по вериткали сверху вниз*/
  justify-content: center; /*разместить блоки по центру горизонтальной оси*/
  align-items: flex-start; /*прижать строку к верхней границе*/
  min-height: 350px; /*установить минимальную высоту блока 350px*/
  background-color:  #1f1f1f; /*цвет фона - черный*/
  color: white; /*цвет текста - белый*/
}
