/*Секция - блок "Полезные ресурсы"*/
/*Блок с логотипом*/
.resources__logo {
  margin: 0; /*обнуляем внешние отсупы*/
  padding: 0; /*обнуляем внутренние отступы*/
  width: 270px; /*ширина блока*/
  height: 38px; /*высота блока*/
  overflow: hidden; /*скрывать содержимое блока, которое выходит за его границы*/
  text-align: center;
}
