/*Блок для вертикального выстраивания ссылок в колонке*/
.footer__column-links {
  margin: 0;
  padding: 0;
  line-height: 30px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по правому краю*/
  text-decoration: none; /*убрал нижнее подчеркивание у ссылки*/
  color: #fff; /*цвет текста - белый*/
}
