/*Создал дополнительный флекс контейнер и установил ему необходимую ширину и высоту аналогичную блоку header
Поместил во флекс контейнер заголовк h1 и выровнял его по левому краю и по вериткали по центру*/
.header__title {
  margin: 0;
  padding: 0 0 0 64px; /*внутрений отступ слева 64px*/
  width: 730px; /*Ширина блока*/
  line-height: 96px; /*Высота строки*/
  font-size: 102px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  z-index: 3; /*Блок должен быть поверх всех блоков кроме logo*/
}
