*{ /*Временно добавил красную границу вокруг всех блоков для удобства версткии*/
  border: 1px solid red; /*Сделал все блоки видимыми: толщина границы 1px, цвет красный*/

  /*обнулил внешние и внутренние отступы для всех элементов страницы html*/
  margin: 0;
  padding: 0;
}

/*Модификатор цвета фона для блока: белый цвет*/
.block_color_white {
  background-color: #fff;
}

/*Модификатор цвета фона для блока: серый цвет*/
.block_color_gray {
  background-color: #f2f2f2;
}

/*Модификатор цвета фона для блока: синий цвет*/
.block_color_blue {
  background-color: #2f80ed;
}

/*Модификатор цвета фона для блока: темный цвет*/
.block_color_dark {
  background-color: #1f1f1f;
}

/*Модификатор цвета фона для блока: черный цвет*/
.block_color_black {
  background-color: #000000;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex; /*Определил блок header как флекс контейнер*/
  position: relative; /*Блок header - родительский блок для блока logo*/
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
}

/*Селектор блока с логотипом Яндекс Практикум*/
.logo {
  width: 183px; /*Ширина блока logo*/
  height: 32px; /*Высота блока logo*/
  z-index: 4; /*Блок logo должен быть поверх всех блоков*/
}

/*Модификатор для блока с логотипом, определяющий его параметры для отображения в header*/
.logo_place_header {
  position: absolute; /*Установил для бока logo абсолютное позиционирование относительно родительского блока header*/
  top: 30px; /*отступ сверху от header 30px*/
  left: 64px; /*отступ слева от header 64px*/
  /*background-image:url(../images/logo_place_header.svg); Добавил логотип - logo_place_header.svg*/
}

/*Создал дополнительный флекс контейнер и установил ему необходимую ширину и высоту аналогичную блоку header
Поместил во флекс контейнер заголовк h1 и выровнял его по левому краю и по вериткали по центру*/
.header__title {
  width: 730px; /*Ширина блока*/
  height: 100vh; /*100% высоты окна браузера*/
  min-height: 600px; /*минимальная высота*/
  max-height: 756px; /*максимальная высота*/
  display: flex; /*Определил блок header__title как флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  z-index: 3; /*Блок должен быть поверх всех блоков кроме logo*/
}

.header__title-place-left-center {
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  left: 64px; /*отступ слева от родительского блока header 64px*/
  align-items: center; /*Элементы внутри флекс контейнера высторить в ряд вдоль оси по центру блока*/
}

.header__title-text {
  line-height: 96px; /*Высота строки*/
  font-size: 102px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
}

.header__subtitle {
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  width: 388px; /*Ширина блока*/
  left: 64px; /*отступ слева от header 64px*/
  bottom: 30px; /*отступ снизу от header 30px*/
  z-index: 4; /*Блок должен быть поверх всех блоков*/
}

.header__subtitle-text {
  line-height: 25px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
}

.header__subtitle-link {
  text-decoration: none; /*убрал нижнее подчеркивание у ссылки*/
}

.link-color {
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px; /*Ширина блока*/
  height: 608px; /*Высота блока*/
  z-index: 2; /*Блок должен быть ниже logo, title, subtitle*/

}

.header__main-illustration-place-right-bottom {
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  right: 0px; /*отступ слева от header*/
  bottom: 0px; /*отступ снизу от header*/
}

.header__square-pic {
  width: 568px; /*Ширина блока*/
  height: 568px; /*Высота блока*/
  z-index: 1; /*Блок должен быть ниже logo, title, subtitle, main-illustration*/

}

.header__square-pic-color {
  background-color: #2f80ed; /*установил синий цвет фона для блока*/
}

.header__square-pic-place-right-top {
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  right: 0px; /*отступ слева от header*/
  top: 64px; /*отступ снизу от header*/
}

/*Селектор блока с основным содержимым страницы html*/
.content {

}

/*Селектор первого блока section*/
.description {
  display: flex;  /*создал флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: center; /*выставил блоки внутри флекс контейнера вдоль строки по центру*/
  align-items: stretch; /*Элементы внутри флекс контейнера растянутся от верха до низа в ряд вдоль оси по верху флекс контейнера*/

}

/*Селектор блока с двумя колонками внутри секции*/
.two-columns {
  display: flex; /*создал флекс контейнер*/
  padding-top: 100px; /*Отсуп от верхнего края флекс контейнера*/
  padding-bottom: 100px; /*Отсуп от нижнего края флекс контейнера*/
  width: 80%; /*Ширина 80% от ширины флекс контейнера*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between; /*Первый блок прижат к левому краю флекс контейнера, а второй блок - к правому краю*/
  align-items: flex-start; /*Все блоки прижаты к верхнему краю флекс контенера*/
}

/*Селектор блока левой колонки с брифом*/
.two-columns__brief {
  width: 175px; /*ширина блока*/
  line-height: 1.2; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
}

/*Селектор блока правой колонки с основным текстом*/
.two-columns__main-text {
  width: 80%; /*ширина блока 80% от ширины флекс контейнера*/
  min-width: 784px; /*минимальная ширина блока*/

}

/*Селектор параграфа в блоке правой колонки с основным текстом*/
.two-columns__paragraph {
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
}

/*Селектор выделенной фразы внутри параграфа*/
.two-columns__span-accent {
  display: flex; /*вырываю элемент span из потока и преобразую его во флекс контейнер*/
  padding-top: 30px; /*внутрений отступ от верхней границы фдекс контейнера*/
  padding-bottom: 30px; /*внутрений отступ от нижней границы фдекс контейнера*/
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
