*{ /*Временно добавил красную границу вокруг всех блоков для удобства версткии*/
  border: 1px solid red; /*Сделал все блоки видимыми: толщина границы 1px, цвет красный*/

  /*обнулил внешние и внутренние отступы для всех элементов страницы html*/
  margin: 0;
  padding: 0;
}

/*Модификатор цвета фона для блока: белый цвет*/
.block_color_white {
  background-color: #fff;
}

/*Модификатор цвета фона для блока: серый цвет*/
.block_color_gray {
  background-color: #f2f2f2;
}

/*Модификатор цвета фона для блока: синий цвет*/
.block_color_blue {
  background-color: #2f80ed;
}

/*Модификатор цвета фона для блока: темный цвет*/
.block_color_dark {
  background-color: #1f1f1f;
}

/*Модификатор цвета фона для блока: черный цвет*/
.block_color_black {
  background-color: #000000;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex; /*Определил блок header как флекс контейнер*/
  position: relative; /*Блок header - родительский блок для блока logo*/
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}

/*Селектор блока с логотипом Яндекс Практикум*/
.logo {
  width: 183px; /*Ширина блока logo*/
  height: 32px; /*Высота блока logo*/
  z-index: 1; /*Блок logo должен быть поверх всех блоков*/
}

/*Модификатор для блока с логотипом, определяющий его параметры для отображения в header*/
.logo_place_header {
  position: absolute; /*Установил для бока logo абсолютное позиционирование относительно родительского блока header*/
  top: 30px; /*отступ сверху от header 30px*/
  left: 64px; /*отступ слева от header 64px*/
  background-image:url(../images/logo_place_header.svg); /*Добавил логотип - logo_place_header.svg*/
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
