/* *{
  Временно добавил красную границу вокруг всех блоков для удобства верстки
  border: 1px solid red; Сделал все блоки видимыми: толщина границы 1px, цвет красный
}*/

/*Блок body*/
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  padding: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*Шапка html страницы*/
.header {
  margin: 0;
  padding: 0;
  display: flex; /*Определил блок header как флекс контейнер*/
  flex-direction: column; /*выстроить блоки в колонку по вертикали сверху вниз*/
  justify-content: center; /*выровнять колонку по центру вдоль вертикальной оси*/
  align-items: flex-start; /*прижать колонку к левому краю*/
  height: 100vh; /*высота равна высоте окна браузера*/
  min-height: 600px; /*минимальная высота*/
  max-height: 756px; /*максимальная высота*/
  background-color: #f2f2f2; /*цвет фона - серый*/
  position: relative; /*Блок header - родительский блок для блока logo*/
}

/*Селектор блока с логотипом Яндекс Практикум*/
.logo {
  margin: 0;
  padding: 0;
  width: 183px; /*Ширина блока logo*/
  height: 32px; /*Высота блока logo*/
  z-index: 4; /*Блок logo должен быть поверх всех блоков*/
}

/*Модификатор для блока с логотипом, определяющий его параметры для отображения в header*/
.logo_place_header {
  position: absolute; /*Установил для бока logo абсолютное позиционирование относительно родительского блока header*/
  top: 30px; /*отступ сверху от header 30px*/
  left: 64px; /*отступ слева от header 64px*/
  background-image:url(../images/logo_place_header.svg); /*Добавил логотип - logo_place_header.svg*/
}

/*Создал дополнительный флекс контейнер и установил ему необходимую ширину и высоту аналогичную блоку header
Поместил во флекс контейнер заголовк h1 и выровнял его по левому краю и по вериткали по центру*/
.header__title {
  margin: 0;
  padding: 0;
  width: 730px; /*Ширина блока*/
  padding-left: 64px; /*отступ слева от родительского блока header 64px*/
  line-height: 96px; /*Высота строки*/
  font-size: 102px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  z-index: 3; /*Блок должен быть поверх всех блоков кроме logo*/
}

/*Подзаголовок шапки html страницы*/
.header__subtitle {
  margin: 0;
  padding: 0;
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  width: 388px; /*Ширина блока*/
  left: 64px; /*отступ слева от header 64px*/
  bottom: 30px; /*отступ снизу от header 30px*/
  line-height: 25px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  z-index: 4; /*Блок должен быть поверх всех блоков*/
}

/*Селектор ссылки в подзаголовке блока header*/
.header__link {
  margin: 0;
  padding: 0;
  line-height: 25px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-decoration: none; /*убрал нижнее подчеркивание у ссылки*/
  color: #2f80ed; /*цвет текста - синий*/
}

/*Блок с илюстрацией*/
.header__main-illustration {
  margin: 0;
  padding: 0;
  width: 765px; /*Ширина блока*/
  height: 608px; /*Высота блока*/
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  right: 0px; /*отступ слева от header*/
  bottom: 0px; /*отступ снизу от header*/
  z-index: 2; /*Блок должен быть ниже logo, title, subtitle*/
}

/*Блок - синий квадрат*/
.header__square-pic {
  margin: 0;
  padding: 0;
  width: 568px; /*Ширина блока*/
  height: 568px; /*Высота блока*/
  background-color: #2f80ed; /*установил синий цвет фона для блока*/
  position: absolute; /*Установил для бока абсолютное позиционирование относительно родительского блока header*/
  right: 0px; /*отступ слева от header*/
  top: 64px; /*отступ снизу от header*/
  z-index: 1; /*Блок должен быть ниже logo, title, subtitle, main-illustration*/
}

/*Селектор блока с основным содержимым страницы html
.content {

}*/

/*Селектор первого блока section*/
.description {
  margin: 0;
  padding: 0;
  display: flex;  /*создал флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: center; /*выставил блоки внутри флекс контейнера вдоль строки по центру*/
  align-items: stretch; /*Элементы внутри флекс контейнера растянутся от верха до низа в ряд вдоль оси по верху флекс контейнера*/
  background-color: #fff; /*цвет фона - белый*/
}

/*Селектор блока с двумя колонками внутри секции*/
.two-columns {
  margin: 0;
  padding: 0;
  display: flex; /*создал флекс контейнер*/
  padding-top: 100px; /*Отсуп от верхнего края флекс контейнера*/
  padding-bottom: 100px; /*Отсуп от нижнего края флекс контейнера*/
  width: 80%; /*Ширина 80% от ширины флекс контейнера*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between; /*Первый блок прижат к левому краю флекс контейнера, а второй блок - к правому краю*/
  align-items: flex-start; /*Все блоки прижаты к верхнему краю флекс контенера*/
}

/*Селектор блока левой колонки с брифом*/
.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px; /*ширина блока*/
  line-height: 1.2; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
  color: #2f80ed;
}

/*Селектор блока правой колонки с основным текстом*/
.two-columns__main-text {
  margin: 0;
  padding: 0;
  width: 80%; /*ширина блока 80% от ширины флекс контейнера*/
  min-width: 784px; /*минимальная ширина блока*/

}

/*Селектор параграфа в блоке правой колонки с основным текстом*/
.two-columns__paragraph {
  margin: 0;
  padding: 0;
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
  padding-bottom: 30px; /*внутрений отступ от нижней границы фдекс контейнера*/
}

/*С помощью псевдокласса last-of-type убираем нижний отступ у крайнего параграфа в блоке*/
.two-columns__paragraph:last-of-type {
  padding-bottom: 0; /*обнуляем внутрений отступ от нижней границы элемента с помощью псевдо класса*/
}

/*Селектор выделенной фразы внутри параграфа*/
.two-columns__span-accent {
  margin: 0;
  padding: 0;
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
}

/*Селектор для второй секции - Цифры*/
.digits {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*блоки разместить в колонку вдоль вертикали сверху вниз*/
  justify-content: flex-start; /*колонку блоков прижать к верхней нранице флекс контейнера*/
  align-items: center; /*выровнять колонку блоков по центру вдоль горизонтальной линии*/
  background-color: #fff; /*цвет фона - белый*/
}
/*Селектор заголовка второй секции - Цифры*/
.section-title {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина блока 60% от ширины флекс контейнера*/
  /*padding-top: 100px; внутрений отступ от верхнего края флекс контейнера*/
  line-height: 1.15; /*Высота строки*/
  font-size: 60px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}

/*подзаголовок второй секции*/
.section-subtitle {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина блока 60% от ширины флекс контейнера*/
  padding-top: 20px; /*внутрений отступ от верхнего края флекс контейнера*/
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}

/*блок с карточками второй секции*/
.table {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: row; /*задал направление внутри флекс контейнера в ряд слева направо*/
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 1100px; /*ширина флекс контейнера*/
  padding-bottom: 100px;
  z-index: 2;
}

/*селектор карточки второй секции*/
.table__cell {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction:column; /*задал направление внутри флекс контейнера в ряд сверху вниз*/
  justify-content: flex-start;
  align-items: stretch;
  width: 250px;
  padding-top: 60px;
}

/*заголовок карточки второй секции*/
.table__heading {
  margin: 0;
  padding: 0;
  line-height: 1.15; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:bold; /*Начертание шрифта полужирное*/
  text-align: left; /*выравнивание текста по по левому краю*/
}

/*текст карточки второй секции*/
.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
  padding-top: 20px; /*отступ от верхней границы элемента*/
}

/*Фдекс контейнер для остальных блоков*/
.feynman {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction:column; /*задал направление внутри флекс контейнера в ряд сверху вниз*/
  justify-content: flex-start; /*прижать столбец блоков к верхней границе флекс контейнера*/
  align-items: center; /*выровнять столбец блоков по вдоль центральной вертикали флекс контейнера*/
  min-height: 790px; /*высота флекс контейнера*/
  background-color: #f2f2f2; /*цвет фона - серый*/
  background-image: url(../images/feynman.png); /*добавил изображение фона*/
  background-repeat: no-repeat; /*изображение фона не должно копироваться*/
  background-position: left bottom; /*изображение фона расположить слева внизу*/
  position: relative; /*Блок feynman - родительский блок для блока feinman__link*/
}

/*Заголовок секции*/
.feynman__title {
  margin: 0;
  padding: 0;
  padding-top: 100px; /*отступ от верхней границы флекс контейнера*/
  width: 648px; /*высота блока заголовка*/
  line-height: 1.15; /*Высота строки*/
  font-size: 120px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по центру*/
}

/*Подзаголовок секции*/
.feynman__subtitle {
  margin: 0;
  padding: 0;
  padding-top: 70px; /*отступ от верхней границы флекс контейнера*/
  line-height: 51px; /*Высота строки*/
  font-size: 36px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
}

/*Ссылка*/
.feynman__link {
  margin: 0;
  padding: 0;
  position: absolute; /*подключил абсолютное позиционирование, "вырвал" блок из потока*/
  right: 48px; /*отсутп справа 48px*/
  top: 50%; /*отступ сверху - 50% от высоты флекс контейнера*/
  line-height: 51px; /*Высота строки*/
  font-size: 36px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: right; /*выравнивание текста по правому краю*/
  text-decoration: none; /*убрал нижнее подчеркивание у ссылки*/
  color: #2f80ed; /*цвет ссылки - синий*/
}

/*Секция метод Кауфмана*/
.kaufman {
  margin: 0;
  padding: 0;
  display: flex; /*преобразую блок во флекс контейнер*/
  flex-direction: column; /*задал направление внутри флекс контейнера в ряд сверху вниз*/
  justify-content: flex-start; /*блок выровнен по центру флекс контейнера по горизонтали и прижат к верху флекс контейнера*/
  align-items: center; /*выровнять элементы по центральной вертикальной линии флекс контейнера*/
  overflow: hidden; /*чтобы треугольник не выходил за границу блока*/
  background-color:  #1f1f1f; /*цвет фона - черный*/
  position: relative; /*Позиционирование: relative - блок является родителем для вложенных блоков*/
}

/*Модификатор для заголовка блока kaufman*/
.section-title_theme_dark {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина 60% от ширины флекс контейнера kaufman*/
  padding-top: 90px; /*внутрений отступ от верхнего края section-title*/
  color: #fff; /*цвет текста - белый*/
  line-height: 1.15; /*Высота строки*/
  font-size: 60px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}

/*Модификатор для подзаголовка блока kaufman*/
.section-subtitle_theme_dark {
  margin: 0;
  padding: 0;
  width: 60%; /*ширина 60% от ширины флекс контейнера kaufman*/
  padding-top: 20px; /*внутрений отступ от верхнего края section-subtitle*/
  color: #fff; /*цвет текста - белый*/
  line-height: 34px; /*Высота строки*/
  font-size: 24px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: center; /*выравнивание текста по центру*/
  z-index: 2;
}

/*Модификатор для таблицы блока kaufman*/
.table_theme_dark{
  padding-bottom: 90px;
}

/*модификатор ячейки таблицы*/
.table__cell_theme_dark {
  width: 200px; /*ширина блока 200px*/
  padding-top: 80px; /*отступ от внутреней верхней границы*/
  color: white; /*цвет текста - белый*/
}

/*Модификатор заголовка ячейки*/
.table__heading_theme_dark {
  color: #fff; /*цвет текста - белый*/
}

.table__text_theme_dark {
  color: white; /*цвет текста - белый*/
}

/*Блок - изображение синего треуголника*/
.kaufman__triangle {
  margin: 0;
  padding: 0;
  position: absolute; /*задал абсолютное позиционирование - вырвал блок из html потока*/
  width: 877px; /*ширина*/
  height: 877px; /*высота*/
  background-size: cover; /*Чтобы треугольник не выходил за пределы page, а "обрезался" границей блока page*/
  background-image: url(../images/kaufman-triangle.svg); /*фон блока - синий треуголник*/
  top: 0; /*Отступ сверху равен 0*/
  right: -210px; /*сместил блок с треугольником за правую границу блока на 210 пикселей*/
  z-index: 1; /*блок kaufman__triangle - выше блока kaufman, но ниже всех остальных блоков в секции*/
}

/*Блок - подвал html страницы*/
.footer {
  margin: 0;
  padding: 0;
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: row; /*расположить вложенные блоки в колонку по вериткали сверху вниз*/
  justify-content: center; /*разместить блоки по центру горизонтальной оси*/
  align-items: flex-start; /*прижать строку к верхней границе*/
  min-height: 350px; /*установить минимальную высоту блока 350px*/
  background-color:  #1f1f1f; /*цвет фона - черный*/
  color: white; /*цвет текста - белый*/
}

/*Блок флекс контейнер для блоков с колонками*/
.footer__columns {
  margin: 0;
  padding: 0;
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: row; /*расположить вложенные блоки в колонку по вериткали сверху вниз*/
  justify-content: space-between; /*левый блок прижать к левому краю флекс контейнера, правый блок прижать к правому краю флекс контейнера*/
  align-items: flex-start; /*прижать строку с блоками к верхнему краю флекс контейнера*/
  width: 90%; /*ширина блока 90% от ширины флекс контейнера*/
  padding-top: 60px; /*внутрений отступ сверху 60px*/
  padding-bottom: 40px; /*внутрений нижний отступ снизу 40px*/
}

/*Столбец блока footer*/
.footer__column {
  margin: 0;
  padding: 0;
  display: flex; /*преобразовать блок во флекс контейнер*/
  flex-direction: column; /*расставить блоки по вертикали*/
  justify-content: space-between; /*первый блок прижать к верхнему краю флекс контейнера, воторой блок - к нижнему краю флекс контейнера*/
  align-items: flex-start; /*прижать вертикальную колонку блоков к левому краю флекс контейнера*/
  min-height: 250px; /*минимальная высота флекс контейнера*/
}

.footer__column_content_copyright {
  flex-basis: 711px; /*базовая ширина флекс контейнера*/
}

/*Модификатор размеров блока logo для подвала страницы*/
.logo_place_footer {
  width: 183px; /*Ширина блока logo*/
  height: 35px; /*Высота блока logo*/
  padding-left: 0; /*отступ сверху 0*/
  padding-top: 0; /*отступ слева 0*/
}

/*Блок копирайта в подвале html страницы*/
.footer__author {
  margin: 0;
  padding: 0;
  padding-top: 18px; /*внутрений верхний отступ*/
  padding-bottom: 18px; /*внутрений нижний отступ*/
  padding-left: 0; /*внутрений левый отступ*/
  line-height: 25px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по правому краю*/
}

.footer__column_content_info {
  justify-content: flex-start; /*первый блок прижать к верхнему краю флекс контейнера, воторой блок - к нижнему краю флекс контейнера*/
}

.footer__column_content_social {
  justify-content: flex-start; /*первый блок прижать к верхнему краю флекс контейнера, воторой блок - к нижнему краю флекс контейнера*/
}

/*Модификатор для текста в заголовке колонки подвала html страницы*/
.footer__column-heading {
  line-height: 30px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: bold; /*Начертание шрифта полужирное*/
  text-align: left; /*выравнивание текста по правому краю*/
  color: #fff; /*цвет текста - белый*/
}

/*блок список в подвале*/
.footer__ul {
  margin: 0;
  padding: 0;
  padding-top: 20px; /*внутренний отступ от верхней границы*/
  padding-bottom: 16px; /*внутрений отступ от нижней границы*/
  list-style: none; /*убрать левые маркеры списка*/
}

/*Блок для вертикального выстраивания ссылок в колонке*/
.footer__column-links {
  margin: 0;
  padding: 0;
  line-height: 30px; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight: normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по правому краю*/
  text-decoration: none; /*убрал нижнее подчеркивание у ссылки*/
  color: #fff; /*цвет текста - белый*/
}

/*Модификатор для иконки соцсети в подвале*/
.footer__social-icon {
  margin: 0;
  padding: 0;
  width: 16px; /*ширина*/
  height: 16px; /*высота*/
  padding-right: 10px; /*внутрений отступ справа*/
}
