/*текст карточки второй секции*/
.table__text {
  margin: 0;
  padding: 0;
  line-height: 1.2; /*Высота строки*/
  font-size: 18px; /*Размер шрифта*/
  font-weight:normal; /*Начертание шрифта нормальное*/
  text-align: left; /*выравнивание текста по левому краю*/
  padding-top: 20px; /*отступ от верхней границы элемента*/
}
